<div class="small-12 medium-10 columns ">
<% if @replies %>
  <% @replies.each do |reply| %>
  <div class="avatar">
    <%= image_tag(reply.user.photo.url, size: "35x35", :class => "gravatar") %>
  </div>
  <div class="post-entry">
    <strong><%= reply.user.name %></strong>
    <br><br>
    <%= raw(reply.entry) %>
  </div>
      <hr>
<% end %>
<% end %>
</div>
