<div class="bodywrapper">
<br>
<div class="row columns">
  <div class="small-12 medium-6 columns">
    <div class="panel"><h3>panel 1</h3>
      <div class="panel-contents">test info 1</div>
    </div>
  </div>



  <div class="small-12 medium-6 columns">
    <div class="panel"><h3>Links</h3>
      <div class="panel-contents">
        <%= link_to 'Groups', groups_path %><br><br>
        <%= link_to 'Users', users_path %><br><br>

        <a href="#" data-dropdown="drop2">Has Dropdown</a>
        <ul id="drop2" class="f-dropdown" data-dropdown-content>
          <li><a href="#">This is a link</a></li>
          <li><a href="#">This is another</a></li>
          <li><a href="#">Yet another</a></li>
        </ul>


      </div>
    </div>
  </div>
</div>

<div class="row columns">
  <div class="small-12 columns">
    <div class="panel"><h3>panel 3</h3>
      <div class="panel-contents">test info 3</div>
    </div>
  </div>
</div>


</div>
