<div class="bodywrapper">
<br>
<div class="row columns">
  <div class="small-12 medium-6 columns">
    <div class="panel"><h3>panel 1</h3>
      <div class="panel-contents">test info 1</div>
    </div>
  </div>



  <div class="small-12 medium-6 columns">
    <div class="panel"><h3>panel 2</h3>
      <div class="panel-contents">test info 2</div>
    </div>
  </div>
</div>

<div class="row columns">
  <div class="small-12 columns">
    <div class="panel"><h3>panel 3</h3>
      <div class="panel-contents">test info 3</div>
    </div>
  </div>
</div>


</div>
