<div class="bodywrapper">
<br>
<div class="row columns">
  <div class="small-12 medium-6 columns">
<%= @post.title %>
</div>
</div>

<div class="row columns">
  <div class="small-12 medium-6 columns">
<%= raw(@post.entry) %>
</div>
</div>


</div>
