.clearfix:after {
  clear: both;
  display: block;
  content: "";
}
.fr-basic .fr-view table td,
.fr-basic .fr-view table th {
  border: 1px solid #dddddd;
}
.fr-basic .fr-view blockquote {
  border-left: solid 2px #5e35b1;
  color: #5e35b1;
}
.fr-basic .fr-view blockquote blockquote {
  border-color: #00bcd4;
  color: #00bcd4;
}
.fr-basic .fr-view blockquote blockquote blockquote {
  border-color: #43a047;
  color: #43a047;
}
.fr-basic img.fr-dib {
  margin-top: 5px;
  margin-bottom: 5px;
}
.fr-basic img.fr-dib.fr-fil {
  margin: 5px auto 5px 0;
  left: 5px;
}
.fr-basic img.fr-dib.fr-fir {
  margin: 5px 0 5px auto;
  right: 5px;
}
.fr-basic img.fr-dii {
  margin-top: 5px;
  margin-bottom: 5px;
}
.fr-basic img.fr-dii.fr-fil {
  margin: 5px 10px 5px 0;
  left: 5px;
}
.fr-basic img.fr-dii.fr-fir {
  margin: 5px 0 5px 10px;
  right: 5px;
}
.fr-basic .fr-tooltip {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #008bca;
  color: #ffffff;
  font-size: 11px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: opacity 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s;
  -ms-transition: opacity 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s;
}
.fr-basic .fr-element {
  color: #000000;
}
.fr-basic.fr-box.fr-basic .fr-element {
  padding: 10px;
}
.fr-basic .fr-wrapper .fr-placeholder {
  font-size: 12px;
  color: #aaaaaa;
}
.fr-basic .fr-wrapper ::selection {
  background: #b5d6fd;
  color: #000000;
}
.fr-basic .fr-wrapper ::-moz-selection {
  background: #b5d6fd;
  color: #000000;
}
.fr-basic.fr-box.fr-basic .fr-wrapper {
  background: #ffffff;
  border: 0;
  border-top: 0;
}
.fr-basic.fr-box.fr-basic .fr-wrapper .fr-placeholder {
  top: 10px;
  left: 10px;
}
.fr-basic.fr-box.fr-basic.fr-top .fr-wrapper {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.fr-basic.fr-box.fr-basic.fr-bottom .fr-wrapper {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.fr-basic.fr-toolbar .fr-command.fr-btn,
.fr-basic.fr-popup .fr-command.fr-btn {
  color: #5e6469;
  margin: 0px 2px;
  -webkit-transition: background 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s;
}
.fr-basic.fr-toolbar .fr-command.fr-btn i,
.fr-basic.fr-popup .fr-command.fr-btn i {
  font-size: 15px;
  width: 15px;
  margin: 11px 11.5px;
}
.fr-basic.fr-toolbar .fr-command.fr-btn span,
.fr-basic.fr-popup .fr-command.fr-btn span {
  font-size: 14px;
  line-height: 14px;
  margin: 11px 11.5px;
  min-width: 15px;
  height: 15px;
}
.fr-basic.fr-toolbar .fr-command.fr-btn img,
.fr-basic.fr-popup .fr-command.fr-btn img {
  margin: 11px 11.5px;
  width: 15px;
}
.fr-basic.fr-toolbar .fr-command.fr-btn.fr-active,
.fr-basic.fr-popup .fr-command.fr-btn.fr-active {
  color: #1e88e5;
  background: transparent;
}
.fr-basic.fr-toolbar .fr-command.fr-btn.fr-dropdown i,
.fr-basic.fr-popup .fr-command.fr-btn.fr-dropdown i,
.fr-basic.fr-toolbar .fr-command.fr-btn.fr-dropdown span,
.fr-basic.fr-popup .fr-command.fr-btn.fr-dropdown span,
.fr-basic.fr-toolbar .fr-command.fr-btn.fr-dropdown img,
.fr-basic.fr-popup .fr-command.fr-btn.fr-dropdown img {
  margin-left: 7.5px;
  margin-right: 15.5px;
}
.fr-basic.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active,
.fr-basic.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active {
  color: #5e6469;
  background: #d6d6d6;
}
.fr-basic.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:hover,
.fr-basic.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:hover,
.fr-basic.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:focus,
.fr-basic.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:focus {
  background: #d6d6d6 !important;
  color: #5e6469 !important;
}
.fr-basic.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:hover:after,
.fr-basic.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:hover:after,
.fr-basic.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:focus:after,
.fr-basic.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:focus:after {
  border-top-color: #5e6469 !important;
}
.fr-basic.fr-toolbar .fr-command.fr-btn.fr-dropdown:after,
.fr-basic.fr-popup .fr-command.fr-btn.fr-dropdown:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #5e6469;
  right: 3.75px;
  top: 16.5px;
}
.fr-basic.fr-toolbar .fr-command.fr-btn.fr-disabled,
.fr-basic.fr-popup .fr-command.fr-btn.fr-disabled {
  color: #bdbdbd;
}
.fr-basic.fr-toolbar .fr-command.fr-btn.fr-disabled:after,
.fr-basic.fr-popup .fr-command.fr-btn.fr-disabled:after {
  border-top-color: #bdbdbd;
}
.fr-basic.fr-toolbar.fr-disabled .fr-btn,
.fr-basic.fr-popup.fr-disabled .fr-btn,
.fr-basic.fr-toolbar.fr-disabled .fr-btn.fr-active,
.fr-basic.fr-popup.fr-disabled .fr-btn.fr-active {
  color: #bdbdbd;
}
.fr-basic.fr-toolbar.fr-disabled .fr-btn.fr-dropdown:after,
.fr-basic.fr-popup.fr-disabled .fr-btn.fr-dropdown:after,
.fr-basic.fr-toolbar.fr-disabled .fr-btn.fr-active.fr-dropdown:after,
.fr-basic.fr-popup.fr-disabled .fr-btn.fr-active.fr-dropdown:after {
  border-top-color: #bdbdbd;
}
.fr-basic.fr-desktop .fr-command:hover,
.fr-basic.fr-desktop .fr-command:focus {
  color: #5e6469;
  background: #ebebeb;
}
.fr-basic.fr-desktop .fr-command:hover:after,
.fr-basic.fr-desktop .fr-command:focus:after {
  border-top-color: #5e6469 !important;
}
.fr-basic.fr-desktop .fr-command.fr-selected {
  color: #5e6469;
  background: #d6d6d6;
}
.fr-basic.fr-desktop .fr-command.fr-active:hover,
.fr-basic.fr-desktop .fr-command.fr-active:focus {
  color: #1e88e5;
  background: #ebebeb;
}
.fr-basic.fr-desktop .fr-command.fr-active.fr-selected {
  color: #1e88e5;
  background: #d6d6d6;
}
.fr-basic.fr-desktop .fr-command.fr-disabled:hover,
.fr-basic.fr-desktop .fr-command.fr-disabled:focus,
.fr-basic.fr-desktop .fr-command.fr-disabled.fr-selected {
  background: transparent;
}
.fr-basic.fr-toolbar.fr-mobile .fr-command.fr-blink,
.fr-basic.fr-popup.fr-mobile .fr-command.fr-blink {
  background: transparent;
}
.fr-basic .fr-command.fr-btn + .fr-dropdown-menu {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.fr-basic .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper {
  background: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: max-height 0.2s ease 0s;
  -moz-transition: max-height 0.2s ease 0s;
  -ms-transition: max-height 0.2s ease 0s;
  -o-transition: max-height 0.2s ease 0s;
}
.fr-basic .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content {
  max-height: 275px;
}
.fr-basic .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a.fr-active {
  background: #008bca;
}
.fr-basic .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a.fr-disabled {
  color: #bdbdbd;
}
.fr-basic .fr-command.fr-btn.fr-active + .fr-dropdown-menu .fr-dropdown-wrapper {
  max-height: 275px;
}
.fr-basic .fr-bottom > .fr-command.fr-btn + .fr-dropdown-menu {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.fr-basic.fr-popup {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #5e6469;
  background: #ffffff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-family: Arial, Helvetica, sans-serif;
  border: 0;
  border-top: 0;
}
.fr-basic.fr-popup.fr-above {
  border-bottom: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fr-basic.fr-popup .fr-input-line input[type="text"],
.fr-basic.fr-popup .fr-input-line textarea {
  color: #5e6469;
  border-bottom: solid 1px #bdbdbd;
}
.fr-basic.fr-popup .fr-input-line input[type="text"]:focus,
.fr-basic.fr-popup .fr-input-line textarea:focus {
  border-bottom: solid 2px #1e88e5;
}
.fr-basic.fr-popup .fr-input-line input + span,
.fr-basic.fr-popup .fr-input-line textarea + span {
  -webkit-transition: color 0.2s ease 0s;
  -moz-transition: color 0.2s ease 0s;
  -ms-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
}
.fr-basic.fr-popup .fr-input-line input.fr-not-empty:focus + span,
.fr-basic.fr-popup .fr-input-line textarea.fr-not-empty:focus + span {
  color: #1e88e5;
}
.fr-basic.fr-popup .fr-input-line input.fr-not-empty + span,
.fr-basic.fr-popup .fr-input-line textarea.fr-not-empty + span {
  color: #808080;
}
.fr-basic.fr-popup .fr-buttons {
  padding: 0 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 0;
}
.fr-basic.fr-popup .fr-layer {
  width: 225px;
}
@media (min-width: 768px) {
  .fr-basic.fr-popup .fr-layer {
    width: 300px;
  }
}
.fr-basic.fr-popup .fr-action-buttons button.fr-command {
  color: #1e88e5;
  -webkit-transition: background 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s;
}
.fr-basic.fr-popup .fr-action-buttons button.fr-command:hover,
.fr-basic.fr-popup .fr-action-buttons button.fr-command:focus {
  background: #ebebeb;
  color: #1e88e5;
}
.fr-basic.fr-popup .fr-action-buttons button.fr-command:active {
  background: #d6d6d6;
  color: #1e88e5;
}
.fr-basic.fr-popup .fr-checkbox span {
  border: solid 1px #5e6469;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
}
.fr-basic.fr-popup .fr-checkbox input:checked + span {
  background: #1e88e5;
  border-color: #1e88e5;
}
.fr-basic.fr-popup .fr-checkbox input:focus + span {
  border-color: #1e88e5;
}
.fr-basic.fr-popup.fr-desktop:before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #5e6469;
  top: -9px;
  margin-left: -5px;
}
.fr-basic.fr-popup.fr-desktop.fr-above:before {
  bottom: -9px;
  border-top-width: 5px;
}
.fr-basic.fr-toolbar {
  color: #5e6469;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 2px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  border-top: 0;
}
.fr-basic.fr-toolbar.fr-inline.fr-desktop:before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #5e6469;
  top: -9px;
  margin-left: -5px;
}
.fr-basic.fr-toolbar.fr-inline.fr-desktop.fr-above {
  border-bottom: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fr-basic.fr-toolbar.fr-inline.fr-desktop.fr-above:before {
  bottom: -9px;
  border-top-width: 5px;
}
.fr-basic.fr-toolbar.fr-top {
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #5e6469;
}
.fr-basic.fr-toolbar.fr-bottom {
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fr-basic .fr-separator {
  background: #ebebeb;
}
.fr-basic .fr-separator.fr-vs {
  height: 33px;
  width: 1px;
  margin: 2px;
}
.fr-basic .fr-separator.fr-hs {
  height: 1px;
  width: calc(96%);
  margin: 0 2px;
}
.fr-basic.fr-box .fr-counter {
  color: #cccccc;
  border: 0px;
}
.fr-basic textarea.fr-code {
  background: #ffffff;
  color: #000000;
}
.fr-basic .fr-box.fr-code-view.fr-inline {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fr-basic.fr-box.fr-inline .fr-command.fr-btn.html-switch {
  background: #ffffff;
  color: #5e6469;
  padding: 11px 11.5px;
  -webkit-transition: background 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fr-basic.fr-box.fr-inline .fr-command.fr-btn.html-switch i {
  font-size: 15px;
  width: 15px;
}
.fr-basic.fr-box.fr-inline .fr-command.fr-btn.html-switch.fr-desktop:hover {
  background: #ebebeb;
}
.fr-basic.fr-popup .fr-colors-tabs {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fr-basic.fr-popup .fr-colors-tabs .fr-colors-tab {
  color: #5e6469;
}
.fr-basic.fr-popup .fr-colors-tabs .fr-colors-tab:hover {
  color: #1e88e5;
}
.fr-basic.fr-popup .fr-colors-tabs .fr-colors-tab[data-param1="background"]:after {
  background: #1e88e5;
  -webkit-transition: transform 0.2s ease 0s;
  -moz-transition: transform 0.2s ease 0s;
  -ms-transition: transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
}
.fr-basic.fr-popup .fr-colors-tabs .fr-colors-tab.fr-selected-tab {
  color: #1e88e5;
}
.fr-basic.fr-popup .fr-color-set > span.fr-selected-color:after {
  color: #ffffff;
}
.fr-basic.fr-popup .fr-color-set > span:hover,
.fr-basic.fr-popup .fr-color-set > span.fr-selected-color {
  outline: 1px solid #5e6469;
}
.fr-basic .fr-file-upload-layer {
  border: dashed 2px #bdbdbd;
}
.fr-basic .fr-file-upload-layer:hover {
  background: #ebebeb;
}
.fr-basic .fr-file-upload-layer.fr-drop {
  background: #ebebeb;
  border-color: #1e88e5;
}
.fr-basic .fr-file-progress-bar-layer > div.fr-loader {
  background: #bcdbf7;
}
.fr-basic .fr-file-progress-bar-layer > div.fr-loader span {
  background: #1e88e5;
  -webkit-transition: width 0.2s ease 0s;
  -moz-transition: width 0.2s ease 0s;
  -ms-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
}
.fr-basic .fr-image-resizer {
  border: solid 1px #1e88e5;
}
.fr-basic .fr-image-resizer .fr-handler {
  background: #1e88e5;
  border: solid 1px #ffffff;
}
.fr-basic .fr-image-resizer .fr-handler {
  width: 12px;
  height: 12px;
}
.fr-basic .fr-image-resizer .fr-handler.fr-hnw {
  left: -6px;
  top: -6px;
}
.fr-basic .fr-image-resizer .fr-handler.fr-hne {
  right: -6px;
  top: -6px;
}
.fr-basic .fr-image-resizer .fr-handler.fr-hsw {
  left: -6px;
  bottom: -6px;
}
.fr-basic .fr-image-resizer .fr-handler.fr-hse {
  right: -6px;
  bottom: -6px;
}
@media (min-width: 1200px) {
  .fr-basic .fr-image-resizer .fr-handler {
    width: 10px;
    height: 10px;
  }
  .fr-basic .fr-image-resizer .fr-handler.fr-hnw {
    left: -5px;
    top: -5px;
  }
  .fr-basic .fr-image-resizer .fr-handler.fr-hne {
    right: -5px;
    top: -5px;
  }
  .fr-basic .fr-image-resizer .fr-handler.fr-hsw {
    left: -5px;
    bottom: -5px;
  }
  .fr-basic .fr-image-resizer .fr-handler.fr-hse {
    right: -5px;
    bottom: -5px;
  }
}
.fr-basic .fr-image-upload-layer {
  border: dashed 2px #bdbdbd;
}
.fr-basic .fr-image-upload-layer:hover {
  background: #ebebeb;
}
.fr-basic .fr-image-upload-layer.fr-drop {
  background: #ebebeb;
  border-color: #1e88e5;
}
.fr-basic .fr-image-progress-bar-layer > div.fr-loader {
  background: #bcdbf7;
}
.fr-basic .fr-image-progress-bar-layer > div.fr-loader span {
  background: #1e88e5;
  -webkit-transition: width 0.2s ease 0s;
  -moz-transition: width 0.2s ease 0s;
  -ms-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
}
.fr-basic .fr-line-breaker {
  border-top: 1px solid #1e88e5;
}
.fr-basic .fr-line-breaker a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 24px;
  width: 24px;
  top: -12px;
  background: #1e88e5;
  color: #ffffff;
  -webkit-transition: background 0.2s ease 0s, color 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s, color 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s, color 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s, color 0.2s ease 0s;
}
.fr-basic .fr-line-breaker a:hover {
  background: #5e6469;
  color: #ffffff;
}
.fr-basic .fr-line-breaker a i {
  line-height: 24px;
}
.fr-basic table td.fr-selected-cell,
.fr-basic table th.fr-selected-cell {
  border: 1px double #1e88e5;
}
.fr-basic .fr-table-resizer div {
  border-right: 1px solid #1e88e5;
}
.fr-basic.fr-popup .fr-table-size .fr-select-table-size > span > span {
  border: 1px solid #dddddd;
}
.fr-basic.fr-popup .fr-table-size .fr-select-table-size > span:hover > span,
.fr-basic.fr-popup .fr-table-size .fr-select-table-size > span.hover > span {
  background: rgba(30, 136, 229, 0.3);
  border: solid 1px #1e88e5;
}
.fr-basic.fr-popup .fr-table-colors > span.fr-selected-color:after {
  color: #ffffff;
}
.fr-basic.fr-popup .fr-table-colors > span:hover,
.fr-basic.fr-popup .fr-table-colors > span.fr-selected-color {
  outline: 1px solid #5e6469;
}
.fr-basic .fr-box .fr-video-resizer {
  border: solid 1px #1e88e5;
}
.fr-basic .fr-box .fr-video-resizer .fr-handler {
  background: #1e88e5;
  border: solid 1px #ffffff;
}
.fr-basic .fr-box .fr-video-resizer .fr-handler {
  width: 12px;
  height: 12px;
}
.fr-basic .fr-box .fr-video-resizer .fr-handler.fr-hnw {
  left: -6px;
  top: -6px;
}
.fr-basic .fr-box .fr-video-resizer .fr-handler.fr-hne {
  right: -6px;
  top: -6px;
}
.fr-basic .fr-box .fr-video-resizer .fr-handler.fr-hsw {
  left: -6px;
  bottom: -6px;
}
.fr-basic .fr-box .fr-video-resizer .fr-handler.fr-hse {
  right: -6px;
  bottom: -6px;
}
@media (min-width: 1200px) {
  .fr-basic .fr-box .fr-video-resizer .fr-handler {
    width: 10px;
    height: 10px;
  }
  .fr-basic .fr-box .fr-video-resizer .fr-handler.fr-hnw {
    left: -5px;
    top: -5px;
  }
  .fr-basic .fr-box .fr-video-resizer .fr-handler.fr-hne {
    right: -5px;
    top: -5px;
  }
  .fr-basic .fr-box .fr-video-resizer .fr-handler.fr-hsw {
    left: -5px;
    bottom: -5px;
  }
  .fr-basic .fr-box .fr-video-resizer .fr-handler.fr-hse {
    right: -5px;
    bottom: -5px;
  }
}
.fr-basic.fr-modal .fr-modal-wrapper {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  border-top: 0;
}
.fr-basic.fr-modal .fr-modal-wrapper .fr-modal-title {
  background: #ffffff;
  -webkit-transition: height 0.2s ease 0s;
  -moz-transition: height 0.2s ease 0s;
  -ms-transition: height 0.2s ease 0s;
  -o-transition: height 0.2s ease 0s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 0;
}
.fr-basic.fr-modal .fr-modal-wrapper .fr-modal-title .fr-modal-title-line h4 {
  color: #5e6469;
}
.fr-basic.fr-modal .fr-modal-wrapper .fr-modal-title .fr-modal-title-line i {
  color: #5e6469;
}
.fr-basic.fr-modal .fr-modal-wrapper .fr-modal-title .fr-modal-title-line i.fr-modal-more {
  -webkit-transition: padding 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
  -moz-transition: padding 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
  -ms-transition: padding 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
  -o-transition: padding 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
}
.fr-basic.fr-modal .fr-modal-wrapper .fr-modal-title .fr-modal-title-line i.fr-modal-close {
  -webkit-transition: color 0.2s ease 0s;
  -moz-transition: color 0.2s ease 0s;
  -ms-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
}
.fr-basic.fr-modal .fr-modal-wrapper .fr-modal-title .fr-modal-tags a {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #1e88e5;
  -webkit-transition: opacity 0.2s ease 0s, background 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s, background 0.2s ease 0s;
  -ms-transition: opacity 0.2s ease 0s, background 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s, background 0.2s ease 0s;
}
.fr-basic.fr-modal .fr-modal-wrapper .fr-modal-title .fr-modal-tags a.fr-selected-tag {
  background: #d6d6d6;
}
.fr-basic.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fr-basic.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container.fr-image-deleting:after {
  -webkit-transition: opacity 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s;
  -ms-transition: opacity 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s;
  background: #000000;
}
.fr-basic.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container.fr-image-deleting:before {
  color: #ffffff;
}
.fr-basic.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container.fr-empty {
  background: #cccccc;
}
.fr-basic.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container img {
  -webkit-transition: opacity 0.2s ease 0s, filter 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s, filter 0.2s ease 0s;
  -ms-transition: opacity 0.2s ease 0s, filter 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s, filter 0.2s ease 0s;
}
.fr-basic.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container .fr-delete-img,
.fr-basic.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container .fr-insert-img {
  -webkit-transition: background 0.2s ease 0s, color 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s, color 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s, color 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s, color 0.2s ease 0s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fr-basic.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container .fr-delete-img {
  background: #b8312f;
  color: #ffffff;
}
.fr-basic.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container .fr-insert-img {
  background: #ffffff;
  color: #1e88e5;
}
.fr-basic.fr-modal.fr-desktop .fr-modal-wrapper .fr-modal-title .fr-modal-title-line i:hover {
  background: #ebebeb;
}
.fr-basic.fr-modal.fr-desktop .fr-modal-wrapper .fr-modal-title .fr-modal-tags a:hover {
  background: #ebebeb;
}
.fr-basic.fr-modal.fr-desktop .fr-modal-wrapper .fr-modal-title .fr-modal-tags a.fr-selected-tag {
  background: #d6d6d6;
}
.fr-basic.fr-modal.fr-desktop .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container .fr-delete-img:hover {
  background: #bf4644;
  color: #ffffff;
}
.fr-basic.fr-modal.fr-desktop .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container .fr-insert-img:hover {
  background: #ebebeb;
}
.fr-basic.fr-overlay {
  background: #000000;
}
