<div class="row columns">
  <div class="small-12 columns ">


    <div class="avatar">
      <%= image_tag(@user.photo.url, size: "35x35", :class => "gravatar") %>
    </div>
    <div class="post-entry">
      <div class="post-header">
        <strong>add comment</strong>
      </div>
      <div class="post-body" id="addreply">
        <%= form_for [@group, @post, @reply], remote:true do |f| %>
          <%= f.text_area :entry, :id => "newreply" %>
          <br>
          <%= f.submit "Reply", class: 'button tiny radius' %>
        <%end%>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('textarea#newreply').editable({
      inlineMode: false,
      placeholder: 'Type something'
    })
  });
</script>
