<!-- <li class="divider"></li> -->
<!-- <li class="divider"></li> -->
<% if current_user_admin? %>
  <li class="shadow"><%= link_to 'Dashboard', dashboards_path %></li>
<% end %>
<% if session[:user_id] %>
  <li class="shadow"><%= link_to image_tag(@user.photo.url, size: "35x35", :class => "gravatar") + ' ' + @current_user.name, @current_user %></li>
<% else %>
  <li class="shadow"><%= link_to 'Sign In', new_session_path %></li>
<% end %>
